#code {
  outline: none;
}

#explanation {
  border: 1px solid #bbb;
  padding: 5px;
  width: 300px;
  height: 200px;
}

.annotation-extremities {
  background-color: #ddd;
}

.annotation-hot-area {
  background-color: #ccc;
}

.explanation-showing {
  background-color: #ddd;
}