#code {
  outline: none;
  border: 1px solid black;
  padding: 5px;
  width: 400px;
}

#explanation {
  border: 1px solid #ddd;
  padding: 5px;
  width: 400px;
  height: 200px;
}

.annotation-extremities {
  background-color: #eee;
}

.annotation-hot-area {
  background-color: #ddd;
}

#explanation.on {
  background-color: #ddd;
}

#explain-code {
  outline: none;
  background-color: white;
  border: 1px solid black;
  margin: 1px;
}

#explain-code:hover {
  cursor: pointer;
}

#explain-code.on {
  border: 2px solid black;
  margin: 0;
}